.button {
  padding: 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    color: #fff;
    background-color: #000;
  }
  &:active {
    color: #000;
    background-color: #fff;
  }
}
